In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%run -i runup_funcs.py
%run -i wave_funcs.py 

# hand calculation of slope from bar crest to zero NAVD88
# HoM from profiles exported from GM based on USGS mapping
bs2020 = 5.273/(596.6-159.3)
bs2021 = 5.15/(599.85-173.9)
bs2022 = 5.21/(633.99-170.69)
print('bs2020: {:.04f}\nbs2021: {:.04f}\nbs2022: {:.04f}\n'.format(bs2020,bs2021,bs2022))
# use beach slope of 0.037

bs2020: 0.0121
bs2021: 0.0121
bs2022: 0.0112

In [2]:
# Marconi inner bar 1, and outer bar 2
Mbs1_2018 = 1.798/(801.84-721.08)
Mbs2_2018 = 4.93/(801.84-222.81)
Mbs1_2021 = 2.146/(804.28-736.58)
Mbs2_2021 = 6.1/(804.28-254.55)
Mbs1_2022 = 1.228/(796.94-709.01)
Mbs2_2022 = 7.2/(796.92-176.4)
print('Mbs1_2018: {:.04f} Mbs2_2018: {:.04f}'.format(Mbs1_2018, Mbs2_2018))
print('Mbs1_2021: {:.04f} Mbs2_2021: {:.04f}'.format(Mbs1_2021, Mbs2_2021))
print('Mbs1_2022: {:.04f} Mbs2_2022: {:.04f}'.format(Mbs1_2022, Mbs2_2022))

Mbs1_2018: 0.0223 Mbs2_2018: 0.0085
Mbs1_2021: 0.0317 Mbs2_2021: 0.0111
Mbs1_2022: 0.0140 Mbs2_2022: 0.0116

In [9]:
# Pea Island measured from Jin-Si's figure w/ ruler
bs2020_04 = (5*2.3/3.7)/(250*(13.2-3.3)/12.8)
bs2020_11 = (5*2.2/3.7)/(250*(16-3.7)/12.8)
bs2021_10 = (5*2.3/3.7)/(250*(10.2-3.8)/12.8)
# bar crest depths
bd2020_04 = (250*(13.2-3.3)/12.8)
bd2020_11 = (250*(16-3.7)/12.8)
bd2021_10 = (250*(10.2-3.8)/12.8)
# bar crest depths
bc2020_04 = (5*2.3/3.7)
bc2020_11 = (5*2.2/3.7)
bc2021_10 = (5*2.3/3.7)
print('bs2020_04: {:.04f}\nbs2020_11: {:.04f}\nbs2021_10: {:.04f}\n'.format(bs2020_04,bs2020_11,bs2021_10))
print('bc2020_04: {:.04f}\nbc2020_11: {:.04f}\nbc2021_10: {:.04f}\n'.format(bc2020_04,bc2020_11,bc2021_10))
print('bd2020_04: {:.04f}\nbd2020_11: {:.04f}\nbd2021_10: {:.04f}\n'.format(bd2020_04,bd2020_11,bd2021_10))

print("beach slope is: ",13/250)

bs2020_04: 0.0161
bs2020_11: 0.0124
bs2021_10: 0.0249

bsc2020_04: 3.1081
bc2020_11: 2.9730
bc2021_10: 3.1081

bd2020_04: 193.3594
bd2020_11: 240.2344
bd2021_10: 125.0000

beach slope is:  0.052

In [4]:
# Mad Beach from RC profile
bs = 1.01/(1068.9-1020.59)
print(bs)

0.020906644587041993

In [10]:
dfb = pd.read_csv('d:/crs/proj/2022_runup/beaches.csv', index_col=0, header=0).T
dfb

name           HoM  Marconi    PeaIs     MadB
wx             BOX      BOX      MHX      TBW
site_ID       1572     1548     6024     3665
record         125     3603      289       62
sl_lon     289.921   69.965  284.522  277.198
sl_lat     42.0511  41.8965  35.6713  27.8008
toe            6.3     5.51     3.34     1.34
crest         17.0     16.2     5.88     2.16
slope       0.1027   0.2549    0.086   0.0493
95_up       0.1532   0.4242   0.1363   0.0787
95_low      0.0522   0.0855   0.0358   0.0199
dhigh      17.3329  16.6378   5.8783   2.1629
dlow        6.2986   5.2639   3.3428   1.3439
tide_high    1.115    999.0    0.463    0.216
tide_low    -1.309    999.0   -0.612   -0.496

In [28]:
# HoM
Hs = 2.11
Tp = 9.52
beta_f = 0.103 # median
barslopes = [bs2020, bs2021, bs2022]
for beta_eff in barslopes:
    print('Lange: {:.3f} S06: {:.3f}'.format( two_slope_IPA_wrapper( Hs, Tp, beta_f, beta_eff),
                                            S06( Hs, calc_L0( Tp ), beta_f )   ))

Lange: 1.017 S06: 1.615
Lange: 1.018 S06: 1.615
Lange: 0.993 S06: 1.615

In [29]:
# Marconi
Hs = 2.11
Tp = 9.52
beta_f = 0.2549 # median
barslopes = [Mbs1_2018, Mbs1_2021, Mbs1_2022]
for beta_eff in barslopes:
    print('Lange: {:.3f} S06: {:.3f}'.format( two_slope_IPA_wrapper( Hs, Tp, beta_f, beta_eff),
                                            S06( Hs, calc_L0( Tp ), beta_f )   ))

Lange: 1.817 S06: 3.600
Lange: 2.070 S06: 3.600
Lange: 1.531 S06: 3.600

In [30]:
# Pea Island
Hs = 2.07
Tp = 10.1
beta_f = 0.2549 # median
barslopes = [bs2020_04, bs2020_11, bs2021_10]
for beta_eff in barslopes:
    print('Lange: {:.3f} S06: {:.3f}'.format( two_slope_IPA_wrapper( Hs, Tp, beta_f, beta_eff),
                                            S06( Hs, calc_L0( Tp ), beta_f )   ))

Lange: 1.686 S06: 3.783
Lange: 1.531 S06: 3.783
Lange: 1.981 S06: 3.783

In [31]:
# Madeira Beach
Hs = 1.43
Tp = 6.95
beta_f = 0.0209 # median
barslopes = [0.0493]
for beta_eff in barslopes:
    print('Lange: {:.3f} S06: {:.3f}'.format( two_slope_IPA_wrapper( Hs, Tp, beta_f, beta_eff),
                                            S06( Hs, calc_L0( Tp ), beta_f )   ))

Lange: 0.881 S06: 0.438