In [1]:
# four beach stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%run -i runup_funcs.py

drv, _ = which_computer()

In [4]:
df_hom = pd.read_csv(drv+'crs/proj/2022_runup/HoM_statistics.csv', index_col=0, header=0)
df_hom

,H_s,T_p,Dir,H0*L0,Iribarren,WL,subtidal,tides,runup,runup 95%,TWL,TWL 95%
var,,,,,,,,,,,,
mean,0.9687,6.0804,67.3725,79.0428,0.9923,-0.0278,-0.0278,-0.0001,0.6964,0.9731,0.6686,0.9453
std,0.6061,1.9530,46.6665,69.8770,0.2737,0.8448,0.0941,0.8288,0.3778,0.5279,0.9233,0.9934
5th,0.3228,3.2117,57.0946,16.3875,0.6387,-1.2886,-0.1825,-1.2297,0.2474,0.3456,-0.7428,-0.5708
16th,0.4535,4.0810,57.6640,26.1260,0.7286,-1.0001,-0.1046,-0.9615,0.3592,0.5019,-0.3699,-0.1481
50th,0.8123,5.9166,65.6008,58.5131,0.9478,-0.0218,-0.0258,0.0065,0.6131,0.8566,0.6831,0.9550
85th,1.5198,8.1580,65.5302,133.3387,1.2654,0.9560,0.0505,0.9729,1.0526,1.4706,1.6725,1.9845
95th,2.1109,9.5189,67.1037,209.9395,1.5044,1.2436,0.1196,1.2421,1.4220,1.9869,2.1198,2.5554
99th,3.0966,11.1739,67.4365,348.5126,1.8215,1.4970,0.2317,1.4771,1.9441,2.7162,2.6876,3.3372

In [5]:
df_mar = pd.read_csv(drv+'crs/proj/2022_runup/Marconi_statistics.csv', index_col=0, header=0)
df_mar

,H_s,T_p,Dir,H0*L0,Iribarren,WL,subtidal,tides,runup,runup 95%,TWL,TWL 95%
var,,,,,,,,,,,,
mean,1.0414,6.4334,99.3152,89.1013,0.9632,-0.0248,-0.0248,0.0001,0.6832,0.8919,0.6584,0.8672
std,0.5902,1.8703,62.4190,71.8861,0.2227,0.7789,0.0948,0.7764,0.3390,0.4427,0.8484,0.8946
5th,0.4085,3.6162,90.2157,22.6287,0.6481,-1.1928,-0.1793,-1.1541,0.2786,0.3637,-0.6426,-0.5038
16th,0.5451,4.5569,89.4900,34.2342,0.7444,-0.9190,-0.1017,-0.8985,0.3832,0.5004,-0.2941,-0.1213
50th,0.8947,6.3100,94.7583,67.9857,0.9385,-0.0202,-0.0235,0.0028,0.6069,0.7924,0.6700,0.8759
85th,1.5592,8.3494,93.6878,145.7961,1.1866,0.8811,0.0535,0.9050,1.0082,1.3163,1.5827,1.8152
95th,2.1481,9.7231,93.3884,225.1156,1.3686,1.1560,0.1237,1.1717,1.3327,1.7400,1.9903,2.3040
99th,3.1642,11.3223,89.3457,359.9968,1.5983,1.3977,0.2394,1.3959,1.7903,2.3374,2.5017,2.9510

In [6]:
df_pea = pd.read_csv(drv+'crs/proj/2022_runup/PeaIsland_statistics.csv', index_col=0, header=0)
df_pea

,H_s,T_p,Dir,H0*L0,Iribarren,WL,subtidal,tides,runup,runup 95%,TWL,TWL 95%
var,,,,,,,,,,,,
mean,1.0986,6.8453,91.2492,115.2291,0.9452,-0.0120,-0.0120,0.0001,0.7916,1.1236,0.7796,1.1116
std,0.5194,1.8282,66.7997,86.1433,0.1826,0.3592,0.1560,0.3185,0.3626,0.5147,0.5459,0.6687
5th,0.5268,4.1907,120.2754,40.2004,0.6661,-0.5618,-0.2343,-0.4630,0.3987,0.5659,0.0275,0.2387
16th,0.6627,5.1695,114.6443,54.5862,0.7571,-0.4020,-0.1546,-0.3590,0.4990,0.7083,0.2499,0.4972
50th,0.9808,6.6429,77.9178,90.5215,0.9351,-0.0183,-0.0281,-0.0089,0.7006,0.9944,0.7280,1.0199
85th,1.5421,8.5925,75.0381,176.0508,1.1335,0.3859,0.1325,0.3682,1.1077,1.5723,1.2886,1.7140
95th,2.0746,10.1375,73.7129,269.4591,1.2567,0.5732,0.2715,0.5157,1.4731,2.0910,1.7413,2.3177
99th,2.9538,12.2353,77.6338,453.5957,1.4270,0.7793,0.4654,0.6454,2.0847,2.9591,2.4794,3.3150

In [7]:
df_mad = pd.read_csv(drv+'crs/proj/2022_runup/Madeira_statistics.csv', index_col=0, header=0)
df_mad

,H_s,T_p,Dir,H0*L0,Iribarren,WL,subtidal,tides,runup,runup 95%,TWL,TWL 95%
var,,,,,,,,,,,,
mean,0.6295,4.3676,136.3354,44.0117,0.5340,-0.0182,-0.0182,0.0000,0.2550,0.3382,0.2369,0.3201
std,0.4256,1.3412,45.5956,48.1711,0.1235,0.3422,0.1459,0.3023,0.1617,0.2144,0.3767,0.4016
5th,0.2024,2.7063,139.1993,8.7120,0.3688,-0.6095,-0.2863,-0.5474,0.0961,0.1274,-0.3827,-0.3212
16th,0.2819,3.0960,141.6884,13.2513,0.4122,-0.3784,-0.1450,-0.3349,0.1269,0.1683,-0.1451,-0.0767
50th,0.5151,4.1520,124.4996,29.0902,0.5122,0.0051,-0.0048,0.0334,0.2106,0.2794,0.2444,0.3191
85th,0.9945,5.6119,123.3964,73.6702,0.6748,0.3396,0.1098,0.3201,0.3871,0.5135,0.6065,0.7007
95th,1.4331,6.9530,134.7127,128.7167,0.7617,0.5083,0.1928,0.4576,0.5671,0.7522,0.8261,0.9577
99th,2.1470,8.8691,146.0992,240.3571,0.8528,0.6749,0.3184,0.5567,0.8722,1.1569,1.1930,1.4203

In [12]:
HOM = {
    'Hs':2.6139,
    'Tp':9.3503,
    'WD':70.8916,
    'Bf':[.052,.103,.153],
    'Bb':[0.011,0.012],
    'az':32}

0.052

In [ ]:
MAR = {
'Hs':2.6641,
'Tp':9.6047,
'WD':97.4667,
 'Bf':
 

# Pea
Hs=2.5201
Tp=10.6712
WD= 76.4265

Mad
Hs=1.8643
Tp=7.6298
WD=138.4027