In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%run -i runup_funcs.py

In [6]:
df_hom = pd.read_csv('d:/crs/proj/2022_runup/hom_stats.csv', delim_whitespace=True)
df_hom

,var,mean,std,5,16,50,85,95,99
0,H_s,0.969000,0.6060,0.323,0.454,0.81200,1.5200,2.11,3.100
1,T_p,6.080000,1.9500,3.210,4.080,5.92000,8.1600,9.52,11.200
2,Dir,22.600000,46.7000,44.800,43.400,19.80000,57.7000,45.40,45.500
3,Dir_scaled,21.100000,43.8000,39.100,36.200,22.20000,63.6000,52.50,48.800
4,H0L0,79.000000,69.9000,16.400,26.100,58.50000,133.0000,210.00,349.000
5,Iribarren,0.992000,0.2740,0.639,0.729,0.94800,1.2700,1.50,1.820
6,WL,-0.027800,0.8450,-1.290,-1.000,-0.02180,0.9560,1.24,1.500
7,subtidal,-0.027800,0.0941,-0.183,-0.105,-0.02580,0.0505,0.12,0.232
8,tides,-0.000145,0.8290,-1.230,-0.960,0.00596,0.9730,1.24,1.480
9,runup,0.696000,0.3780,0.247,0.359,0.61300,1.0500,1.42,1.940
10,runup95,0.973000,0.5280,0.346,0.502,0.85700,1.4700,1.99,2.720
11,TWL,0.669000,0.9230,-0.743,-0.370,0.68300,1.6700,2.12,2.690
12,TWL95,0.945000,0.9930,-0.571,-0.148,0.95500,1.9800,2.56,3.340

In [9]:
df_pea = pd.read_csv('d:/crs/proj/2022_runup/pea_stats.csv', delim_whitespace=True)
df_pea

,var,mean,std,5,16,50,85,95,99
0,H_s,1.100000,0.519,0.5270,0.663,0.98100,1.540,2.070,2.950
1,T_p,6.850000,1.830,4.1900,5.170,6.64000,8.590,10.100,12.200
2,Dir,359.000000,66.800,44.3000,40.700,1.20000,290.000,277.000,76.000
3,Dir_scaled,5.580000,57.200,39.2000,39.000,1.23000,289.000,275.000,81.900
4,H0L0,115.000000,86.100,40.2000,54.600,90.50000,176.000,269.000,454.000
5,Iribarren,0.945000,0.183,0.6660,0.757,0.93500,1.130,1.260,1.430
6,WL,-0.012000,0.359,-0.5620,-0.402,-0.01830,0.386,0.573,0.779
7,subtidal,-0.012000,0.156,-0.2340,-0.155,-0.02810,0.133,0.272,0.465
8,tides,0.000089,0.318,-0.4630,-0.359,-0.00921,0.368,0.516,0.646
9,runup,0.792000,0.363,0.3990,0.499,0.70100,1.110,1.470,2.080
10,runup95,1.120000,0.515,0.5660,0.708,0.99400,1.570,2.090,2.960
11,TWL,0.780000,0.546,0.0275,0.250,0.72800,1.290,1.740,2.480
12,TWL95,1.110000,0.669,0.2390,0.497,1.02000,1.710,2.320,3.310

In [10]:
df_mad = pd.read_csv('d:/crs/proj/2022_runup/mad_stats.csv', delim_whitespace=True)
df_mad

,var,mean,std,5,16,50,85,95,99
0,H_s,0.629000,0.426,0.2020,0.2820,0.51500,0.994,1.430,2.150
1,T_p,4.370000,1.340,2.7100,3.1000,4.15000,5.610,6.950,8.870
2,Dir,314.000000,45.600,34.2000,16.3000,312.00000,71.800,58.700,46.600
3,Dir_scaled,314.000000,47.200,28.5000,13.6000,315.00000,77.400,67.600,57.700
4,H0L0,44.000000,48.200,8.7100,13.3000,29.10000,73.700,129.000,240.000
5,Iribarren,0.534000,0.123,0.3690,0.4120,0.51200,0.675,0.762,0.853
6,WL,-0.018200,0.342,-0.6100,-0.3780,0.00509,0.340,0.508,0.675
7,subtidal,-0.018200,0.146,-0.2860,-0.1450,-0.00476,0.110,0.193,0.318
8,tides,0.000014,0.302,-0.5490,-0.3360,0.03360,0.319,0.456,0.561
9,runup,0.255000,0.162,0.0961,0.1270,0.21100,0.387,0.567,0.872
10,runup95,0.338000,0.214,0.1270,0.1680,0.27900,0.513,0.752,1.160
11,TWL,0.237000,0.377,-0.3830,-0.1450,0.24400,0.606,0.826,1.190
12,TWL95,0.320000,0.402,-0.3210,-0.0767,0.31900,0.701,0.958,1.420